extends ../layout

block content
    .container
            form(action='/users/new' method='POST').row.justify-content-md-center
                fieldset
                    legend New User
                    .mb-3
                        .col-md-6
                            label.form-label(for='name') Name
                            input.form-control(type='text' placeholder='name' name='name' value="#{ name? name:''}")
                    .mb-3
                        .col-md-6
                            label.form-label(for='Email address') Email address
                            input.form-control(type='email' placeholder='name@example.com' name='email'  value="#{email?email:''}")
                    .mb-3
                        .col-md-6
                            label.form-label(for='Password') Password
                            input.form-control(type='password' name='password')
                    .mb-3
                        .col-md-6
                            label.form-label(for='Password') Password
                            input.form-control(type='password' name='password2')  
                    .mb-3 
                        each e in errors
                            p(style="color:red").mt-5 #{e.msg} !                          
                    .mb-3
                        <a href="/users">Cancel</a>
                    button.btn.btn-primary(type='submit') Submit